@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@300;400;700&family=Kaushan+Script&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Kalam', cursive, Tahoma;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('images/geometric-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 90%;
}

.card {
    border: none;
    border-radius: 50px;
}

#header {
    border-radius: 20px;
}

.card-header {
    background-color: #AA78A6;
    color: white;
    font-weight: 700;
    font-style: italic;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.card-body {
    background-color: white;
    border: 3px solid #AA78A6;
    border-radius: 20px;
}

.card-title {
    padding: 30px 15px;
}

#text {
    text-align: center;
    font-style: italic;    
    font-size: 0.8em;
    color: black;
    padding-top: 18px;
}

#new-meditation {
    background-color: #D7FDF0;
    color: #B8BAC8;
    border-radius: 20px;
    display: block;
    width: 100%;    
    font-weight: 700;
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
    text-transform: uppercase;
}

#new-meditation:hover {
    background-color: #B2FFD6;
    box-shadow: 2px 2px 5px #B4D6D3;
    color: #AA78A6;
    text-shadow: 1px 1px 1px #B4D6D3;
}

footer {
    align-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 15px;
}

.footer-text {
    display: flex;    
    align-self: center;
    justify-content: flex-end; 
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #B4D6D3;
    text-shadow: 2px 2px 5px whitesmoke;
    padding-right: 10px;
}

.footer-links {
    display: flex;
    align-self: center;
    justify-content: flex-start;
}

.fa {
    font-size: 1em;
    color: #AA78A6;
    text-decoration: none;
}

.fa:hover {
    color: #B2FFD6;
    text-shadow: 1px 1px 3px #B4D6D3;
}

.fa-linkedin-square {
    padding: 0 5px 0 10px;
}

.fa-github {
    padding: 0 10px;
}

@media (min-width: 768px) {
    .container {
        max-width: 90vw;
    }
    
    .card-header {
        font-size: 1.4em;
    }

    #text {  
        font-size: 1.1em;
    }

    .bi-quote {
        font-size: 2em; 
    }

    .bi-twitter {
        font-size: 2em;
    }

    #new-meditation {
        font-size: 1em;
    }

    .footer-text {
        font-size: 1em;
    }

    .fa {
        font-size: 1.5em;
        padding-right: 20px;
    }
}

@media (max-width: 572px) {
    .footer-text  {
        justify-content: center;
        padding: 5px;
    }

    .footer-links {
        justify-content: center;
        padding: 5px;
    }
}

@media (min-width: 1650px) {
    .container {
        max-width: 60vw;
    }
}

@media (min-width: 280px) and (max-width: 823px) and (orientation: landscape) {
    footer {
        position: relative;
    }

    .container {
        padding-top: 30px;
    }

    .card-header {
        margin-bottom: 25px;
    }
}